<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="product" class="com.allinone.departmentalstore.model.Product" />
	<bean id="order" class="com.allinone.departmentalstore.model.Order" />
	<bean id="customer" class="com.allinone.departmentalstore.model.Customer" />
</beans>